<div class="edit board my-repeat-animation" ng-repeat="board in boardAll.boards">
    <div class="caption">
        <button type="button" class="top-right-corner" ng-click="boardAll.remove(board)">
            <span class="glyphicon glyphicon-remove" ></span>
        </button>
        <div>
          <input type="text" class="medium" placeholder="Board Title" ng-model="board.title">
        </div>
        <div>
          <input type="text" placeholder="Board description." ng-model="board.desc">
        </div>
        <div class="bottom x-small">
          <input type="checkbox" ng-model="board.isPublic">
          Board is Public
        </div>
        <a href="#/board/{{ board.id }}" type="button" class="view bottom-right-corner">
            <span class="glyphicon glyphicon-arrow-right"></span>
        </a>
    </div>
</div>

<div class="create note">
    <div class="caption">
        <div><input type="text" class="medium" placeholder="Note Title" ng-model="boardAll.newBoard.title"/></div>
        <div><textarea autosize placeholder="Note content" ng-model="boardAll.newBoard.desc"></textarea></div>
        <button type="submit" class="bottom-right-corner" ng-click="boardAll.add(boardAll.newBoard)"><span class="glyphicon glyphicon-plus"></span></button>
        <div class="bottom x-small">
          <input type="checkbox" ng-model="boardAll.newBoard.isPublic">
          Board is Public
        </div>
    </div>
</div>


