<div class="edit board my-repeat-animation" ng-repeat="board in boardAll.boards">
    <div class="caption">
        <board-remove></board-remove>
        <board-title></board-title>
        <board-desc></board-desc>
        <board-public></board-public>
        <board-in></board-in>
    </div>
</div>

<div class="create note">
    <div class="caption">
        <div><input type="text" class="medium" placeholder="Note Title" ng-model="boardAll.newBoard.title"/></div>
        <div><textarea autosize placeholder="Note content" ng-model="boardAll.newBoard.desc"></textarea></div>
        <button type="submit" class="bottom-right-corner" ng-click="boardAll.add(boardAll.newBoard)"><span class="glyphicon glyphicon-plus"></span></button>
        <div class="bottom x-small">
          <input type="checkbox" ng-model="boardAll.newBoard.isPublic">
          Board is Public
        </div>
    </div>
</div>


